extends ./layouts/layout.pug
block content
	.row
		.col.s12
			br
			.page-title.animated.slideInDown
				a.waves-effect.waves-grey.btn.m-b-xs(href='/', style='color: white !important;') Por Consultor
				a.waves-effect.waves-grey.btn.white.m-b-xs Por Cliente
		.col.s12.m12.l12
			.card
				.card-content
					#table-agence.row.animated.zoomIn.retraso1
						form(method='POST', action='/consulta', accept-charset='UTF-8', role='form')
							.col.s12.m3.l3(style='margin-bottom: 4%;')
								span.titulo SELECCIONE UN RANGO DE FECHA
								.col.s12.m12.l12.center(style='margin-bottom: 10%;')
									select#mesUno(name='mesUno')
										option(selected='selected', value='') Mes
										each mes in meses
											option(value=mes.val)= mes.mes
									select#yearUno(name='yearUno')
										option(selected='selected', value='') Año
										each anio in anios
											option(value=anio.anio)= anio.anio
								.col.s12.m12.l12.center
									select#mesDos(name='mesDos')
										option(selected='selected', value='') Mes
										each mes in meses
											option(value=mes.val)= mes.mes
									select#yearDos(name='yearDos')
										option(selected='selected', value='') Año
										each anio in anios
											option(value=anio.anio)= anio.anio
							.col.s12.m6.l6(style='margin-bottom: 4%;')
								span.titulo SELECCIONE LOS CONSULTORES
								select#multiple.js-states.browser-default.select2-hidden-accessible(multiple='', aria-hidden='true', tabindex='-1', style='width:100%;', name='select_cons')
									optgroup(label='Consultores')
										each row in consultores
											option(value=row.co_usuario)= row.no_usuario
								span.select2.select2-container.select2-container--default.select2-container--below(dir='ltr', style='width: 100%;')
									span.selection
										span#spanhidden.select2-selection.select2-selection--multiple(role='combobox', aria-autocomplete='list', aria-haspopup='true', aria-expanded='false', tabindex='-1')
											ul.select2-selection__rendered
									span.dropdown-wrapper(aria-hidden='true')
							.col.s12.m3.l3
								span.titulo Acción
								.center
									button#relatorio.waves-effect.waves-light.btn.btn-small(name='relatorio', type='submit', value='relatorio')
										i.fa.fa-file-o(aria-hidden='true')
										|  Relatorio
									br
									br
									button#grafico.waves-effect.waves-light.btn.btn-small(name='grafico', type='submit', value='grafico')
										i.fa.fa-bar-chart(aria-hidden='true')
										|  Grafico
									br
									br
									button#pizza.waves-effect.waves-light.btn.btn-small(name='pizza', type='submit', value='pizza')
										i.fa.fa-pie-chart(aria-hidden='true')
										|  Pizza
								